@model Inventory_Management_Systems.Models.tblCompany

@{
    ViewBag.Title = "Create";
}

<h4>Company</h4>

<div class="box box-primary direct-chat direct-chat-warning">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-10">Add Company</div>
            <div class="col-2"><a class="fa fa-arrow-circle-left" href="@Url.Action("Index")"> Back to List</a></div>
        </div>
    </div>

    <div class="box-body">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">

                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save" aria-hidden="true"> Save</i></button>

                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-row">
                    <div class="form-group col-md-5">
                        Company Code

                        @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-5">
                        Company Name

                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                    </div>


                </div>



                <div class="form-row">
                    <div class="form-group col-md-5">
                        Email

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-5">
                        Contact

                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })

                    </div>
                </div>





                <div class="form-row">
                    <div class="form-group col-md-5">
                        Web Address
                        @Html.EditorFor(model => model.webaddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.webaddress, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-5">
                       Address

                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                    </div>
                    </div>
                 
                </div>
                }

               

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
