@model IEnumerable<Inventory_Management_Systems.Models.tblAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TblAccountHead.accountHeadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TblAccountHead.accountHeadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.accountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.accountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.accountId })
        </td>
    </tr>
}

</table>
