@model IEnumerable<Inventory_Management_Systems.Models.tblItem>

@{
    ViewBag.Title = "Index";
}

<h4 style="margin-top:50px;">All Product List</h4>

<p>
    @Html.ActionLink("Add New Product", "Create", "", new { @class = "btn btn-success" })
</p><div class="card card-purple">
    <div class="card-header">
        <h3 class="card-title">All Products List</h3>
    </div>
    <table id="example1" class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category.catName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit.unitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchase_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale_Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.category.catName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.unitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchase_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sale_Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.itemId }, new { @class = "btn btn-default btn-xs" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.itemId }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.itemId }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }

    </table>
    </div>
    @section scripts {

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    }
