@model Inventory_Management_Systems.Models.tblInvoice

@{
    ViewBag.Title = "Create";
}

<h2>Sale</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="form-row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.invoice_Date, htmlAttributes: new { @class = "control-label col-md-3" })

                @*    <input value="@DateTime.Now.ToString("MM/dd/yyyy")" class="form-control" />*@

                    @Html.EditorFor(model => model.invoice_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.invoice_Date, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Due_Date, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.Due_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Due_Date, "", new { @class = "text-danger" })

                </div>



            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.payment_Mode, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EnumDropDownListFor(model => model.payment_Mode, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.payment_Mode, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Invoice_type, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EnumDropDownListFor(model => model.Invoice_type, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Invoice_type, "", new { @class = "text-danger" })
                </div>

            </div>




            <div class="form-row">

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.invoice_Code, htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.EditorFor(model => model.invoice_Code, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.invoiceNo } })
                    @Html.ValidationMessageFor(model => model.invoice_Code, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.companyId, "companyId", htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.DropDownList("companyId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.companyId, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.accountId, "accountId", htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.DropDownList("accountId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.accountId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.customerId, "customerId", htmlAttributes: new { @class = "control-label col-md-3" })

                    @Html.DropDownList("customerId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.customerId, "", new { @class = "text-danger" })

                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>


        </form>
    }
</div>



@section Scripts {
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#invoicedate").datepicker().datepicker("setDate", new Date());
            console.log("hy");
        });
    </script>

}
