@model IEnumerable<Inventory_Management_Systems.Models.tblInvoiceDetail>

@{
    ViewBag.Title = "Index";
}



<h2>List of Generated Invoice Detail</h2>

<p>
    <div class="row ">
        <div class="col-10">@Html.ActionLink(" Create New", "Create", null, htmlAttributes: new { @class = "btn btn-warning fa fa-plus-circle", @style = "color:white" })</div>

    </div>


</p>
<div class="box box-primary ">
    <div class="box-header">
        List of Generated Invoice Detail
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped table-condensed ">
            <thead>
                <tr style="background-color:#3c8dbc;color:white">
                    <th>
                        @Html.DisplayNameFor(model => model.TblInvoice.invoice_Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblItem.itemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.amount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblInvoice.invoice_Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblItem.itemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>

                            @Html.ActionLink(" Edit", "Edit", new { id = item.invoiceDetailId }, htmlAttributes: new { @class = "btn btn-default btn-sm fa fa-pencil" })
                            @Html.ActionLink(" Details", "Details", new { id = item.invoiceDetailId }, htmlAttributes: new { @class = "btn btn-info btn-sm fa fa-info " })
                            @Html.ActionLink(" Delete", "Delete", new { id = item.invoiceDetailId }, htmlAttributes: new { @class = "btn btn-danger btn-sm fa fa-trash " })
                      
                        </td>
                    </tr>
                </tbody>
            }

        </table>
        </div>
    </div>
        @section Scripts {




            <script>
                $(document).ready(function () {
                    $('.table').DataTable(

                    );
                });

            </script>

        }

