@model Inventory_Management_Systems.Models.tblVoucherDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblVoucherDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblVoucher.voucherCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblVoucher.voucherCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Narration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Narration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debitAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.voucherdetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
