@model Inventory_Management_Systems.Models.tblItemcategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblItemcategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.catId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
