@model IEnumerable<Inventory_Management_Systems.Models.tblItemcategory>

@{
    ViewBag.Title = "All Categories";
}

<h4 style="margin-top:50px;">All Products Category </h4>

<p>

    <a href="@Url.Action("Create","tblItemcategories")" class="btn btn-default btn-xs "><span class="fa fa-plus-circle"></span> Add New Category</a>
    <a href="@Url.Action("UploadFileCategory","tblItemcategories")" class="btn btn-success btn-xs "><span class="fa fa-upload"></span> Upload</a>
</p>
<table class="table  table-bordered table-condensed table-hover table-striped"  >
    <tr>
        <th>
           Category Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem=>item.catName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.catId },new { @class="btn btn-default btn-xs"}) |
            @Html.ActionLink("Details", "Details", new { id=item.catId },new { @class="btn btn-info btn-xs"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.catId },new { @class="btn btn-danger btn-xs"})
        </td>
    </tr>
}

</table>
